# 从hub拉取镜像，用于用户部署
services:
  not_stone-backend:
    image: docker.1ms.run/onlyie/not_stone:latest
    depends_on:
      mysql-container:
        condition: service_healthy
      redis-container:
        condition: service_healthy
    restart: unless-stopped
    container_name: backend
    # 将指定的文件的环境变量加载到容器中
    env_file:
      - ./packages/backend/.env
      - ./packages/backend/.env.production
    environment:
      NODE_ENV: production
      MONGO_HOST: mongo-container
      # 覆盖env_file中的同名环境变量
      DATABASE_URL: mysql://root:qwqw1314.@mysql-container:3306/not_stone
    ports:
      - '3003:3003'
    volumes:
      - ./docker-data/nest-app/logs:/app/packages/backend/logs
  nginx-container:
    image: docker.1ms.run/onlyie/prisma-ai-nginx:5.0.0
    ports:
      - '80:80' # HTTP
      # HTTPS (如需启用)
      # - '443:443'
    volumes:
      - ./packages/frontend_ns/dist:/usr/share/nginx/html_ns
      - ./nginx/logs:/var/log/nginx # Nginx 日志
      - ./nginx/conf/default.online.conf:/etc/nginx/conf.d/default.conf
      - /etc/nginx/ssl:/etc/nginx/ssl
      # 如果启用 HTTPS，还需要
      # - ./nginx/ssl:/etc/nginx/ssl
    restart: unless-stopped
    depends_on:
      - not_stone-backend
  mysql-container:
    image: docker.1ms.run/library/mysql
    #占用的主机端口:网络内访问使用的端口
    ports:
      - '3308:3306'
      # 目录内不能有文件,否则报错
    volumes:
      - ./docker-data/mysql:/var/lib/mysql
    environment:
      # 初始数据库
      MYSQL_DATABASE: prisma-ai
      MYSQL_ROOT_PASSWORD: qwqw1314.
      # 允许任何主机连接
      MYSQL_ROOT_HOST: '%'
    restart: unless-stopped
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
      interval: 10s
      timeout: 5s
      retries: 5
  redis-container:
    image: docker.1ms.run/library/redis
    ports:
      - '6377:6379'
    volumes:
      - ./docker-data/redis:/data
    restart: unless-stopped
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5
#使用默认桥接网络
